.root {
	--scrollarea-shadow-size: rem(40px);
}

.viewport {
	&[data-top-scroll='true'] {
		mask-image: linear-gradient(0deg, #000 calc(100% - var(--scrollarea-shadow-size)), transparent);
	}

	&[data-bottom-scroll='true'] {
		mask-image: linear-gradient(180deg, #000 calc(100% - var(--scrollarea-shadow-size)), transparent);
	}

	&[data-top-bottom-scroll='true'] {
		mask-image: linear-gradient(
			#000,
			#000,
			transparent 0,
			#000 var(--scrollarea-shadow-size),
			#000 calc(100% - var(--scrollarea-shadow-size)),
			transparent
		);
	}

	&[data-left-scroll='true'] {
		mask-image: linear-gradient(270deg, #000 calc(100% - var(--scrollarea-shadow-size)), transparent);
	}

	&[data-right-scroll='true'] {
		mask-image: linear-gradient(90deg, #000 calc(100% - var(--scrollarea-shadow-size)), transparent);
	}

	&[data-left-right-scroll='true'] {
		mask-image: linear-gradient(
			to right,
			#000,
			#000,
			transparent 0,
			#000 var(--scrollarea-shadow-size),
			#000 calc(100% - var(--scrollarea-shadow-size)),
			transparent
		);
	}
}
