.root {
	--scrollarea-shadow-size-xs: rem(20px);
	--scrollarea-shadow-size-sm: rem(40px);
	--scrollarea-shadow-size-md: rem(60px);
	--scrollarea-shadow-size-lg: rem(80px);
	--scrollarea-shadow-size-xl: rem(120px);
}

.viewport {
	&[data-top-scroll='true'] {
		mask-image: linear-gradient(
			0deg,
			#000 calc(100% - var(--scrollarea-shadow-size, var(--scrollarea-shadow-size-md))),
			transparent
		);
	}

	&[data-bottom-scroll='true'] {
		mask-image: linear-gradient(
			180deg,
			#000 calc(100% - var(--scrollarea-shadow-size, var(--scrollarea-shadow-size-md))),
			transparent
		);
	}

	&[data-top-bottom-scroll='true'] {
		mask-image: linear-gradient(
			#000,
			#000,
			transparent 0,
			#000 var(--scrollarea-shadow-size, var(--scrollarea-shadow-size-md)),
			#000 calc(100% - var(--scrollarea-shadow-size, var(--scrollarea-shadow-size-md))),
			transparent
		);
	}

	&[data-left-scroll='true'] {
		mask-image: linear-gradient(
			270deg,
			#000 calc(100% - var(--scrollarea-shadow-size, var(--scrollarea-shadow-size-md))),
			transparent
		);
	}

	&[data-right-scroll='true'] {
		mask-image: linear-gradient(
			90deg,
			#000 calc(100% - var(--scrollarea-shadow-size, var(--scrollarea-shadow-size-md))),
			transparent
		);
	}

	&[data-left-right-scroll='true'] {
		mask-image: linear-gradient(
			to right,
			#000,
			#000,
			transparent 0,
			#000 var(--scrollarea-shadow-size, var(--scrollarea-shadow-size-md)),
			#000 calc(100% - var(--scrollarea-shadow-size, var(--scrollarea-shadow-size-md))),
			transparent
		);
	}
}
