.root {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	gap: var(--mantine-spacing-md, 1rem);
}

.scrollArea {
	position: relative;
	border-radius: var(--list-radius, var(--mantine-radius-md, 0.25rem));

	&[data-orientation='vertical'] {
		width: 100%;
	}

	&[data-orientation='horizontal'] {
		height: 100%;
	}

	&[data-with-border] {
		border: rem(1px) solid var(--mantine-color-default-border);
	}

	&[data-virtualized][data-measure-elements] {
		&[data-orientation='vertical'] {
			> div > div {
				width: 100%;
				height: var(--list-size);
			}
		}

		> div > div {
			position: relative;
		}

		&[data-orientation='horizontal'] {
			> div > div {
				height: 100%;
				width: var(--list-size);
			}
		}
	}
}

.list {
	position: relative;
	border-radius: var(--list-radius, var(--mantine-radius-md, 0.25rem));

	&[data-virtualized] {
		&[data-orientation='vertical']:not([data-measure-elements]) {
			width: 100%;
			height: var(--list-size);
		}

		&[data-orientation='horizontal']:not([data-measure-elements]) {
			height: 100%;
			width: var(--list-size);
		}

		&[data-measure-elements] {
			position: absolute;
			top: 0;
			left: 0;

			&[data-orientation='vertical'] {
				width: 100%;
				transform: translateY(var(--list-start));
			}

			&[data-orientation='horizontal'] {
				height: 100%;
				transform: translateX(var(--list-start));
			}
		}
	}
}

.item {
	&[data-orientation='vertical'] {
		width: 100%;
	}

	&[data-orientation='horizontal'] {
		height: 100%;
	}

	&[data-virtualized]:not([data-measure-element]) {
		left: 0;
		top: 0;
		position: absolute;

		&[data-orientation='vertical'] {
			transform: translateY(var(--list-item-start));
		}

		&[data-orientation='horizontal'] {
			transform: translateX(var(--list-item-start));
		}
	}

	&[data-with-item-border] {
		&[data-orientation='vertical'] {
			border-bottom: rem(1px) solid var(--mantine-color-default-border);

			&:last-of-type {
				border-bottom: none;
			}
		}

		&[data-orientation='horizontal'] {
			border-right: rem(1px) solid var(--mantine-color-default-border);

			&:last-of-type {
				border-right: none;
			}
		}
	}
}

.groupHeader {
	&[data-orientation='vertical'] {
		width: 100%;
	}

	&[data-orientation='horizontal'] {
		height: 100%;
	}

	&[data-virtualized]:not([data-measure-element]) {
		left: 0;
		top: 0;
		position: absolute;

		&[data-sticky] {
			position: sticky;
		}

		&[data-orientation='vertical']:not([data-sticky]) {
			transform: translateY(var(--list-item-start));
		}

		&[data-orientation='horizontal']:not([data-sticky]) {
			transform: translateX(var(--list-item-start));
		}
	}

	&[data-sticky] {
		left: 0;
		top: 0;
		z-index: 1;
		position: sticky;
	}

	&[data-with-item-border] {
		&[data-orientation='vertical'] {
			border-bottom: rem(1px) solid var(--mantine-color-default-border);

			&:last-of-type {
				border-bottom: none;
			}
		}

		&[data-orientation='horizontal'] {
			border-right: rem(1px) solid var(--mantine-color-default-border);

			&:last-of-type {
				border-right: none;
			}
		}
	}
}

.header {
	&[data-sticky-header] {
		position: sticky;
		z-index: 1;

		&[data-orientation='vertical'] {
			top: 0;
		}

		&[data-orientation='horizontal'] {
			left: 0;
		}
	}
}

.footer {
	&[data-sticky-footer] {
		position: sticky;
		z-index: 1;

		&[data-orientation='vertical'] {
			bottom: 0;
		}

		&[data-orientation='horizontal'] {
			right: 0;
		}
	}
}

.loader {
	display: absolute;
	inset: 0;
	z-index: 1;
}

.empty {
	display: flex;
	height: 100%;
	min-height: 5rem;
	width: 100%;
	min-width: 5rem;
	align-items: center;
	justify-content: center;
}

.paginationWrapper {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.bottomLoaderWrapper {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 2.5rem;
}

.endElement {
	&[data-virtualized][data-measure-elements] {
		position: absolute;

		&[data-orientation='vertical'] {
			left: 0;
			right: 0;
			top: var(--list-size);
		}

		&[data-orientation='horizontal'] {
			top: 0;
			bottom: 0;
			left: var(--list-size);
		}
	}
}
