.input {
	display: flex;
	align-items: center;
}

.pillsList {
	> span {
		transition:
			opacity 150ms ease,
			transform 150ms ease;
	}

	&:where([data-line-clamp]) {
		text-overflow: ellipsis;
		/* display: -webkit-box; */
		-webkit-line-clamp: var(--text-line-clamp);
		-webkit-box-orient: vertical;
		width: 100%;
		flex-wrap: nowrap;

		> * {
			flex-grow: 1;
			min-width: 0;
			max-width: max-content;
		}
	}

	&:where([data-floating]):where([data-searchable]) {
		&:has(:focus-visible) {
			> span {
				transform: translateY(-100%);
				opacity: 0;
			}
		}
	}
}

.inputField {
	&[data-floating] {
		position: absolute;
		top: var(--input-padding-y, 0rem);
		bottom: var(--input-padding-y, 0rem);
		left: var(--input-padding-inline-start);
		right: var(--input-padding-inline-end);
		background-color: var(--input-bg);
		height: auto;

		transition:
			opacity 150ms ease,
			transform 150ms ease;

		&:where([data-hasvalue]) {
			transform: translateY(100%);
			opacity: 0;
		}

		&:focus-visible:where([data-searchable]) {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
