.optionsDropdown:has([data-mantine-scrollbar]) {
	padding-inline-end: var(--combobox-padding);
}

.optionsDropdownOption {
	display: flex;
	align-items: center;
	gap: 8px;

	&:where([data-reverse]) {
		justify-content: space-between;
	}
}

.optionsDropdownCheckIcon {
	width: auto;
	height: auto;

	:where([data-combobox-selected]) & {
		opacity: 1;
	}
}
