.optionsDropdown:has([data-mantine-scrollbar]) {
	padding-inline-end: var(--combobox-padding);
}

.optionsDropdownOption {
	display: flex;
	align-items: center;
	gap: 8px;

	&[data-reverse] {
		justify-content: space-between;
	}

	&[data-checked] {
		color: var(--mantine-primary-color-filled);
	}
}

.optionsDropdownCheckIcon {
	width: rem(16px);
	min-width: rem(16px);
	height: rem(16px);
	color: var(--mantine-primary-color-filled);
}
